{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center">
   <h2 class="text-success mb-3"> {{ course.name }} </h2>
   <div class="row">
      <div class="col">
         <img src="{{course.image}}" width=200 height=200>
      </div>
      <div class="col">
         <h5 class="text-info">Class: {{ course.classroom }}</h5>
          <h3> Student List </h3>
         {% if course.students != null %}
            {% for student in course.students %}
               <a class="text text-success" href="{{ path('student_detail' , {'id' : student.id })}}"> 
                  {{ student.name }} 
               </a>
               <br>
            {% endfor %}
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}