{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fuild col-md-8 text-center">
    <h2>Course</h2>
    <a class="btn btn-danger" href="{{ path('course_add')}}">Add Course</a>

    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Classroom</th>
            <th>Course Image</th>
            <th>Action</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{course.id}}</td>
                <td>{{course.name}}</td>
                <td>{{course.classroom}}</td>
                <td><img src="{{course.image}}" width = 100 height=100></td>
                <td>
                <a class="btn btn-outline-primary" href="{{ path('course_edit', {'id' : course.id }) }}">EDIT</a>
                <a  class="btn btn-outline-warning" href="{{ path('course_delete', {'id' : course.id}) }}"
                onclick="return confirm('Do you want to delete this student ?');">DELETE</a>
                </td>
            </tr>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
