{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<h1>StudentController</h1>
    <a class="btn btn-danger" href="{{ path('student_add')}}">Add Student</a>
<div class=\"container\">
    <h3 class=\"panel-title\">Student List</h3>
    <table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.phone }}</td>
            <td>
                <a class="btn btn-outline-primary" href="{{ path('student_edit', {'id' : student.id }) }}">EDIT</a>
                <a  class="btn btn-outline-warning" href="{{ path('student_delete', {'id' : student.id}) }}"
                onclick="return confirm('Do you want to delete this student ?');">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
